<table style="width: 100%; border-collapse: collapse; table-layout: fixed;">
  <tbody>
    <tr>
      <td style="width: 60%; vertical-align: top; padding-right: 25px; text-align: justify; line-height: 1.5;">
          <p><b>D</b>issection and <b>C</b>lassification Engine. Cross-platform and network independent DPI Engine. Integration solution which is written in modern C++.</p>
          
          <b>> protocols</b>: &nbsp;&nbsp;60<br>
          <b>> attributes</b>:&nbsp;&nbsp;&nbsp;1157<br>
          <b>> metadata</b>:&nbsp;&nbsp;&nbsp;25<br>
          <b>> services</b>: &nbsp;&nbsp;&nbsp;553<br>
          <br>
          <a href="/assets/pdf/brochure/sl-dpi-en.pdf"># brochure</a><br>
          <a href="https://wiki.slinkin.tech"># tech</a>
      </td>

      <td style="width: 40%; vertical-align: middle; text-align: center;">
          <img src="/assets/dc_engine/img/pipeline.png" alt="DC Engine" 
               style="max-width: 100%; height: auto; display: inline-block;" />
      </td>
    </tr>
  </tbody>
</table>