{%- assign default_paths = site.html_pages | map: 'path' -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}
<header>
  <div class="menu">
    <ul>
      <!-- Логотип с жестким ограничением размера -->
      <li style="display: inline-block; vertical-align: middle;">
        <a href="{{ '/' | relative_url }}" style="border: none; padding: 0; margin-right: 10px;">
          <img src="{{ '/assets/img/favicon_monochrome.png' | relative_url }}" alt="Logo" style="height: 1.2em; width: auto; display: block;">
        </a>
      </li>
      
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <li>
          <a href="{{ my_page.url | relative_url }}"{% if page.url == my_page.url %} aria-current="page"{% endif %}>{{ my_page.title | escape }}</a>
        </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
</header>
