<div class="mobile-only">
<br>
We help improve network activity analytics based on network protocols: protocol detection, structure verification, and extracting the most significant fields needed for analysis. Field values play an important role in traffic classification, and the list of extracted values affects the classification type: Internet service, cyber attack, network problems, potential data leakage, etc.
</div>

<div class="desktop-only">
  <table style="width: 100%; border-collapse: collapse;">
    <tbody>
      <tr>
        <td style="width: 40%; vertical-align: middle; text-align: center;">
            <img src="/assets/dc_engine/img/protocols.png" alt="DC Engine" style="width: 100%; display: block;">
        </td>
        <td style="width: 60%; vertical-align: middle; padding-left: 20px; padding-right: 20px; text-align: justify; line-height: 1.5; box-sizing: border-box;">
            <p style="margin: 0;">We help improve network activity analytics based on network protocols: protocol detection, structure verification, and extracting the most significant fields needed for analysis. Field values play an important role in traffic classification, and the list of extracted values affects the classification type: Internet service, cyber attack, network problems, potential data leakage, etc.
            </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>