---
---

h1, h2, h3, h4, h5, h6 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

/* Image fit fix for the container */
main img {
  max-width: 100%;
  height: auto;
  display: block;
}

img {
  height: auto;
}

main, .container {
  text-align: justify;
}

main, .container, table {
  text-align: left;
}

/* Optional: Constrain content width */
main, .container {
  max-width: 800px;
  margin: 0 auto;
}

.mobile-only { display: none; }

/* If the width less than 768px (standard for mobile/laptops) */
@media screen and (max-width: 767px) {
  .mobile-only { display: block; }
  .desktop-only { display: none; }
}
